* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B4570;
    text-align: center;   
}

.heading{
    color: #FFDD4A;
    font-size: 45px;
}

.container {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 5%;
    border: none;
    font-size: 8vmin;
    background-color: #F4FDD9;
    color: black;
}

.reset {
    padding: 1rem;
    font-size: 1.25rem;
    color: rgb(8, 2, 16);
   border-radius: 1.5rem;
    border: none;
   
}

.new-game {
    padding: 1rem;
    font-size: 1.25rem;
    color: rgb(8, 2, 16);
    border-radius: 1.5rem;
    border: none;
}

.msg-container {
    color: azure;
    height: 13vmin;
    font-size: 60px;
}

.hide {
    display: none;
}